html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #dbdbdb;
    font-family: "Century Gothic", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 400px;
    text-align: left;
}

.formulario {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.input-group {
    text-align: left;
    width: 92%;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    border: none;
    border-radius: 15px;
    padding: 15px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

#btnIngreso {
    background-color: rgb(43, 39, 255);
}

#btnEgreso {
    background-color: rgb(0, 0, 0);
}

.contenedor_registro {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}